<footer class="w-full text-center text-slate-500 fixed bottom-0">
    <small>
        &copy; {{ 'now'|date('Y') }} &middot;
        Built by <a href="#" class="underline">Tarekin</a>
    </small>
</footer>