@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
    font-family: 'Montserrat', sans-serif;
}

.alert {
    padding: 10px;
    color: white;
    text-align: center;
    margin: 0;
    border: none;
    border-radius: 0;
    
    &.alert-info {
        background-color: blue;
    }
    
    &.alert-error {
        background-color: red;
    }
    
    &.alert-success {
        background-color: green;
    }
}

.state {
    padding: 5px;
    border-radius: 10px;
    color: white;

    &.state-created {
        &:before {
            content: "●";
            color: hsl(0, 100%, 70%);
            text-align: left;
        }

        background-color: red;
    }
    &.state-assigned {
        &:before {
            content: "●";
            color: hsl(240, 100%, 70%);
        }
        background-color: blue;
    }
    &.state-completed {
        &:before {
            content: "●";
            color: hsl(120, 100%, 70%);
        }
        background-color: green;
    }
    &.state-archived {
        &:before {
            content: "●";
            color: hsl(0, 0%, 70%);
        }
        background-color: gray;
    }
}