{% extends 'base.html.twig' %}

{% block title %} Error 403 {% endblock %}
 
{% block body %}

<div class="max-w-md mx-auto">
    <div>
        <h1 class="p-2 text-center text-3xl italic underline font-bold">Access denied</h1>
    </div>

    <div class="text-center">
        <p class="my-5">You do not have the required authorizations to access this page.</p>

        <a href="{{ path('app_home') }}" class="underline text-orange-500 hover:text-orange-600">Go back to homepage</a>
    </div>
</div>

{% endblock %}