{% extends 'base.html.twig' %}

{% block title 'Projects' %}

{% block body %}

<div class="w-full">
    <h1 class="p-2 text-center text-3xl italic underline font-bold">Projects</h1>

    <p class="text-center text-slate-700">Here is the full list of created projects : </p>

    {% for project in projects %}
        <div class="d-block drop-shadow-md m-3 p-2 shadow shadow-gray-400 rounded">
            <h2 class="text-lg italic underline">{{ project.name }}</h2>
            <p class="ml-3">{{ project.presentation }}</p>
        </div>
{% endfor %}
</div>

{% endblock %}
